.body1 {
	background-image: url("../img/fondoLogin.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.login-card {
	max-width: 450px; /* Ancho máximo de la tarjeta */
	width: 100%;
	border: none; /* Quitamos el borde por defecto para usar solo sombra */
	background-color: #c8e3fe;
}

.body2 {
	background-color: #f8f9fa;
}
.body .badge-tienda { background-color: #f0f2f5; color: #333; border: 1px solid #ddd; }
.navbar-brand {
	font-weight: bold;
	color: #198754 !important;
}

.card-total {
	border-left: 5px solid #198754;
}

.badge-tienda {
	background-color: #e9ecef;
	color: #495057;
	border: 1px solid #dee2e6;
}