body {
	background-image: url("../img/fondoLogin.png");
	
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.login-card {
	max-width: 450px; /* Ancho máximo de la tarjeta */
	width: 100%;
	border: none; /* Quitamos el borde por defecto para usar solo sombra */
	background-color: #c8e3fe;
}